@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,700&display=swap);
body {
   font-family: "Yanone Kaffeesatz";
}
.title {
   font-size: 40px;
   font-weight: 700;
   text-align: center;
   padding: 20px 0;
   border: 8px ridge rgb(122, 72, 36);
   background: linear-gradient(135deg,  #fefcea 0%,#f1da36 100%); 
}
h3 {
   font-size: 30px;
   font-weight: 700;
   color: #fefcea;
   height: 50px;
   padding: 10px 0 0 0;
   letter-spacing: 3px;
   background: url("../img/tears.jpg") 0 0 / 30px repeat-x;
}
.page {
   text-align: center;
   padding: 50px 0 50px 0;
   background: #c86dc8 url("../img/green.png") 0 0 / 10px fixed;
}
[class*="-part"] {
   display: inline-block;
   width: 28%;
   height: 450px;
   overflow: auto;   
   border: 8px ridge rgb(122, 72, 36); 
   padding: 10px;
}
.morning,
.day {
   margin: 0 30px 0 0;
}
p {
   line-height: 1.2;
   font-size: 20px;
   text-align: justify;
   text-indent: 10px;
}
span {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 30px;
   color: #740e16;
}
.morning {
   background: #8ba135;
}
.morning img {
   max-width: 200px;
}
.day {
   background: #647425;
}
.day img {
   max-width: 300px;
}
.evening {
   background: #5a681f;
}
.evening img {
   max-width: 200px;
}